<div class="container">
  <div class="row">
    <div class="form-group">
      <h1>Highlight Color on radio button click</h1>

      <h4>Pick a highlight color</h4>
      <div>
        <input type="radio" name="colors" (click)="color = 'lightgreen'" />Green
        <input type="radio" name="colors" (click)="color = 'yellow'" />Yellow
        <input type="radio" name="colors" (click)="color = 'cyan'" />Cyan
      </div>
      <p [appHighlight]="color">Highlight me!</p>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <h1>Highlight Color on Mouse event</h1>

      <h4>Pick a highlight color</h4>
      <div>
        <input type="radio" name="colors" (click)="color = 'lightgreen'" />Green
        <input type="radio" name="colors" (click)="color = 'yellow'" />Yellow
        <input type="radio" name="colors" (click)="color = 'cyan'" />Cyan
      </div>
      <p [appHighlight]="color">Highlight me!</p>
      <p [appHighlight]="color" defaultColor="violet">
        Highlight me too!
      </p>
    </div>
  </div>

  <div class="row">
    <label>Sort Data: </label>
    <span>{{ a | multisort }}</span>
  </div>
</div>
