body {
  margin: 0;
  padding: 0;
  background-color: #b2b799;
  /* height: 100vh; */
  height: 850px;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 620px;
  height: 360px;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}
