/************* GENERIC  *****************/
a {
  color: #696969;
}

/************* Background ****************/
.bglight1 {
  background: #f2f2f2;
}
/************* TOP-HEAD *****************/
.top-head ul li {
  padding-right: 8px;
}
